body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.container{
    /*width: 1219px;*/
    /*padding: 0 55px;*/
    /* Выравниваем по центру: */
    margin: auto;
    color: #FFFFFF;
}

.header {
    height: 84px;
    background: #007765;
    position: sticky;
    top: 0;
    display: flex;
    /* Выравниваем в шапке по центру по вертикали: */
    align-items: center;
    justify-content: center;
}
.logo {
    margin: 0 25%;
}
.nav {
   margin-right: 20%; 
}

.tabs {
    height: 29px;
    width: 416px;
    display: flex;
    /* Выравниваем в шапке по центру по вертикали: */
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-left: 0;
}
.tabs-item {
    text-decoration: none;
    color: #FFFFFF;
}
.jumbotron {
    height: 403px;
    background-image: url('./img/jumbotron.png');
}
.jumbotron, .hero {
    overflow: hidden;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center center;
    display: flex;
    /* Выравниваем в шапке по центру по вертикали: */
    align-items: center;
    justify-content: center;
}
h4 {
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}
.problem {
    padding: 48px 22% 92px;
    background: #EEEEEE;
}
.problem > p {
    padding: 0 5% 0;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
h3 {
    margin: 0 0 16px;
    color: #007765;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    text-align: center;
}
.hero {
    height: 483px;
    background-image: url('./img/hero.png');
}
.hero > p {
    margin: 0 27%;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.piedpipercoin {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding: 48px 22% 92px;
}

.piedpipercoin > img {
    float: left;
    padding: 0 48px 35px 0;
} 
.team {
    padding: 58px 22% 84px;
    background: #EEEEEE;
}
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.member-card {
    width: 30%;
    height: 283px;
    float:none;
    text-align: center;
}
.member-card > img {
    margin-bottom: 12px;
}
.member-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}
.member-job {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.footer {
    background: #333333;
    height: 176px;
    display: flex;
    align-items: center;
}
.footer_text{
    padding: 0 36%;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

@media (max-width: 1219px) {
    
    .logo {
        margin: 0 20%;
        top: 20px;
    }
    .nav {
       margin-right: 15%; 
    }
    .jumbotron, .piedpipercoin {
        width: 100%;

    }
    .problem, .piedpipercoin {
        padding: 48px 55px 92px;
    }

}